
<form method= "POST" action="/artists">
    <div>
        <label>Artist name</label>
        <input type="text" name="artist_name" />
    </div>

    <div>
        <input type="submit" value="Add Artist">
    </div>
</form>


